include LICENSE
include README.md

recursive-include pythonfmu3/tests/data *
recursive-include pythonfmu3/tests/slaves *

recursive-include pythonfmu3/resources *
recursive-include pythonfmu3/pythonfmu-export *
